.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 5px 24px;
  background-color: #ffffffef;
  max-width: 950px;
  margin: 80px auto 20px;
  gap: 24px;
  height: 60px;       
  max-height: 60px;  
  overflow: hidden;   
  flex-wrap: nowrap; 
  overflow: visible; /* 允許下拉超出 */
  position: relative; /* 下拉用 z-index */ 
}
.search-section {
  display: flex;
  align-items: center;
  gap: 10px;
  border-right: 1px solid #ccc;
}
.search-bar {
  display: flex;
  align-items: stretch; /* 讓每個 search-section 撐滿高度 */
}
.search-section:first-child {
  flex: 2;
}


.search-section:nth-child(2){
  flex:  1.5;
}


.search-section:nth-child(3) {
  border-right: none;
}


.search-section i {
  color: #555;
  font-size: 25px;
}

.search-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-label {
  font-size: 12px;
  color: #888;
  margin-bottom: 2px;
   position: relative;
  top: 7px; 
}
.search-label1 {
  font-size: 12px;
  color: #888;
  margin-bottom: 2px;
   position: relative;
  top: 7px; 
}

.search-value,
.search-input {
  font-size: 15px;
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s;
}

.search-input:focus {
  border-bottom: 1px solid #999;
}

.date-inputs {
  display: flex;
  align-items: center;
  gap: 6px;
}

.date-inputs input[type="date"] {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 2px 4px;
  background: transparent;
  width: 110px;
  cursor: pointer;
}

.date-inputs input[type="date"]:focus {
  border-color: #999;
}

.search-button-wrapper {
  display: flex;
  align-items: center;
}

.search-button {
  background-color:#f07b2d;
  border: none;
  padding: 12px 24px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.search-button:hover {
  background-color: #e86107;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }
}
